* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.33);
}
.btn-2{
    background: transparent;
    border: 2px solid white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.btn:hover {
  background-color: #627382;
}
.btn-2:hover, a:hover{
    background-color:#627382;
}

/* main style */
/* nav style */
nav{
    width: 66%;
    max-width: 1057px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    padding: 16px 120px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

/* hero style */
.hero-container{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px 179px;
    align-items: center;
}


.hero-content{
    color: white;
    margin: 0 auto;
    width: 66%;
}

.access{
    font-size: 16px;
    font-weight: 200;
    border-radius: 1000px;
    background-color: white;
    width: 229px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px 12px;
}

.hero-content h1{
    font-size: 62px;
    font-weight: 700;
    padding: 16px;
}

.hero-content p{
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 32px;
}
.hero-content .hero-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.hero-content .green{
    color: #30B868;
}

/* box style */
#box .card-container{
    max-width: 1600px;
    width: 66%;
    margin: 0 auto;
}

#box .section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    padding: 44px;
}


#box .section-heading h2{
    font-size: 48px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

#box .section-heading p{
    color: #627382;
    margin: 0 auto;
}

.card-container{
    width: 85%;
    max-width: 1360px;
}
.card-box{
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
.card-info{
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 6px 50px 0 #00000036;
    width: 85%;
    max-width: 1350px;
    width: 312px;
}

.card-info h4{
    font-style: Bold;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
    width: 274px;
}

.card-info p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    width: 274px;
}

.card-info .circle{
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    display: inline-block;
    border-radius: 1000px;

}

.card-info .circle img{
    padding: 16px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* knowledge style */
#knowledge .knowledge-container{
    display:flex;
    gap: 60px;
    margin: 0 auto;
    padding: 120px;
    align-items: center;
}
.knowledge-container .knowledge-info span{
    color: #30B868;
    font-style: Medium;
    font-size: 16px;
    font-weight: 400;
}
.knowledge-container .knowledge-info h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding: 16px 0;
}
.knowledge-container .knowledge-info p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.list {
  list-style: none;

}

.list li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}

.list li .list-info{
    color: rgba(0, 25, 49, 1);
}

/* early-access style */
#early-access {
    margin: 120px;
    margin-top: 0px;
    background: #F7F6F2;
}
.early-access-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
}

.early-access-container h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(0, 25, 49, 1);
}
.early-access-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin: 16px 0 24px 0;
}

/* Footer style */
#footer{
    background-color: #001931;
    padding: 120px;
    padding-bottom: 30px;
}
.footer-element{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    align-items: center;
}


.social h6{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
}

#footer hr{
    margin-top: 80px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

#footer .footer-p{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin: 30px 0;
    color: rgba(250, 250, 250, 1);
}
