* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    color: white;
    cursor: pointer;
}
.btn-2{
    background: transparent;
    border: 2px solid white;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}



/* main style */
nav{
    width: 66%;
    max-width: 1057px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    padding: 16px 120px;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}


.hero-container{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px 179px;
    align-items: center;
}


.hero-content{
    color: white;
    margin: 0 auto;
    width: 66%;
}

.access{
    font-size: 16px;
    font-weight: 200;
    border-radius: 1000px;
    background-color: white;
    width: 229px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px 12px;
}

.hero-content h1{
    font-size: 62px;
    font-weight: 700;
    padding: 16px;
}

.hero-content p{
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 32px;
}
.hero-content .hero-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.hero-content .green{
    color: #30B868;
}
